@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Merriweather&family=Shantell+Sans:ital,wght@1,500&display=swap");

* {
  font-family: "Lora", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo-container {
  margin: 0;
}

.header {
  background-color: orange;
  color: white;
  text-align: center;
  padding: 40px;
  font-size: 50px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.input-section {
  text-align: center;
  justify-content: center;
}

.input-todo {
  display: grid;
  margin: 20px;
}

.user-input {
  margin-top: 20px;
}

.priority-options {
  display: flex;
}

.priority-option {
  display: grid;
  margin: 40px;
  transition: 0.65s;
}

.high-priority:hover {
  color: #f00;
}

.medium-priority:hover {
  color: #b20000;
}

.low-priority:hover {
  color: #008000;
}

.button-container {
  margin: 20px;
}

.submit-button {
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  transition: 0.75s;
}

.submit-button:hover {
  border: 2px solid green;
  background-color: green;
  box-shadow: 0 0 20px green;
  color: white;
}

.todo-list {
  display: grid;
  justify-content: center;
  margin: 50px 0 100px;
}

.high-priority-todo,
.medium-priority-todo,
.low-priority-todo {
  width: 700px;
  text-align: center;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: 0.5s;
  box-shadow: 0 0 10px gray;
  display: flex;
  justify-content: space-between;
}

.high-priority-todo {
  border-color: #ff4500;
}

.high-priority-todo:hover {
  box-shadow: 0 0 15px #ff4500;
}

.medium-priority-todo {
  border-color: #ff8c00;
}

.medium-priority-todo:hover {
  box-shadow: 0 0 15px #ff8c00;
}

.low-priority-todo {
  border-color: #ffd700;
}

.low-priority-todo:hover {
  box-shadow: 0 0 15px #ffd700;
}

.todo-text {
  margin-inline-end: 40px;
}

.delete-button {
  color: black;
  background-color: gray;
  text-align: right;
  border-radius: 10px;
  border: 1px solid gray;
  max-height: 40px;
  padding: 10px 20px;
  transition: 0.5s;
}

.delete-button:hover {
  color: white;
  background-color: red;
  border: 1px solid red;
}
