body {
    font-family: Arial, sans-serif;
    margin-block: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

.userBox {
    display: flex;
    flex-direction: column; /* Elemanları dikey olarak düzenle */
    justify-content: center;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
}

.userName {
    font-size: 18px;
    font-weight: bold;
}

.userEmail,
.userZipCode {
    color: #555;
    margin: 10px 0;
}
